<a href="https://colab.research.google.com/github/rushdishams/learn-with-rushdi/blob/main/pandas/Pandas%20Interview%204%20-%20Create%20Use%20Dummy%20Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

### Techniques to create or use dummy dataframes

- To test your code
- To start with some data for more experimentation
- Interviewers might not be interested to use a dataframe from csv file

1. `Pandas` util.testing module dataframes
  - might get deprecated shortly. but handy option
  - you need to select the dataset based on your use  case. 

2. `scikit-learn` dataframes
 - know how to convert the values after loading the dataframes into a pandas dataframe
 - you need to select the dataset based on your use  case. 
3. `numpy` to create some toy/dummy dataframe from scratch
  - always going to be numeric

In [27]:
# Technique 1
pd.util.testing.makeDataFrame()

                   A         B         C         D
ZnoypYPhQ7  0.151170 -0.136036 -0.044263  0.862685
KTeWWLGEUL  0.027677 -0.140782  0.007154 -1.715731
3KGrJMPc5h  2.020392  1.862026  0.243395  0.886303
bn0kgtvKEV  1.174414 -1.784783 -1.321858 -0.388750
NCRhYYFTe3  0.708762  1.300399 -0.629074  0.050919
UsyjJtEG5w  0.334146  1.274601 -0.080102 -0.094353
Du3QllSx5Q  0.424039  0.460153  1.596143 -0.360620
cBMbMYFcVX  1.616906 -2.008700 -0.175511 -1.871597
MvziTNHIqD -0.397082 -0.493224 -0.449775 -0.399400
OyBuUBkQIX -0.312587 -0.942960  1.312299  0.635311
WmsLqu5zHh -1.662433  0.599279  0.831590  0.023143
2ADP9II27o  0.992375 -0.094198  0.768520 -0.868012
S2d0QZ9KRA -1.456341  0.255183 -0.015769  0.796871
m9PBWb4tIA  0.156024 -1.885261 -0.594963 -0.119564
mWGiJThGPU -1.283184 -0.136881 -0.484074  0.667694
LHV7TN96n0  0.485347 -1.104690  1.052948  0.683716
wgs6OOpYzD  1.565506 -0.122414  1.283572  0.289728
3Qt54eIHlk  0.071922  0.732490  1.744004 -0.175407
oy9kY6f5Ar -0.108067 -0.101880 -2.722818 -1.469652
AWvqWc9KW1 -0.813129 -0.980461 -1.259728 -0.471509
sKZ0bHx8au -0.418069 -0.023633 -0.714359  1.229420
CYMPYBGRdd  1.112763  1.469640  0.160492 -0.293183
JOzaZeKCEM  1.199604 -0.474934  0.042547  0.748341
BYPejGi1Vv -0.717129  0.903465  1.718935  0.371629
azDsSCCYMT -0.255846  1.005931  0.440574 -0.640281
BAOcydTuOw  0.276370 -1.269647  0.006549 -1.474348
bMynFZe2Iz -0.140682 -0.766059 -0.335736 -0.672401
eMqTvLSoVJ -1.141044  0.917468 -1.122267  0.436206
HOuRrl3DSh -1.612351  1.162021 -0.984486  1.189558
kajNHdS9cu -0.443657 -1.603893  1.074810  0.705724

In [28]:
pd.util.testing.makeMissingDataframe()

                   A         B         C         D
9tliqDnJrG -0.008675  1.108134       NaN -0.457787
MZkaRMkUJp  0.452312 -0.815938  0.606848  0.598281
CYkJKuU3xv  0.130705       NaN  0.494823  0.336854
mN88vH5GnQ  0.029692 -0.755895 -0.150866 -1.279303
aHEzWT4N5N -0.363805 -0.571508  0.384035  0.563357
URcV6B7EhX -0.206516 -0.952531 -0.135405 -0.930124
5LsOjZaTrK -0.945895  0.444246 -0.146909  0.188386
LDLqbBRrZZ  0.093172 -0.043767  0.450248  0.358405
r86gs2Ep3i -1.012090 -0.449122 -0.013053 -0.477890
utFVV9xNGs -0.971497  0.425769 -0.138464 -1.253237
IDJkOSdywF  1.131199       NaN -0.735199 -1.815604
1qEp9nYna1 -0.452465  1.078402  1.713794 -0.394022
t7opuss9QM  0.876292  0.227281 -0.552779 -0.428492
sB5yIOEcaG  0.042087       NaN -0.833091 -2.446357
WrBGrGkgPX -1.068336  0.985925 -1.227430       NaN
Bi6ASZHV4o  0.888467  0.840668 -0.214462       NaN
CXiSGUz041       NaN -0.581333 -1.191651  0.845716
GHDjoz5xqB -1.307640  0.752616 -1.577297 -0.818909
J2QFIpnWNl -0.326334 -0.520314       NaN  0.800118
C14oF3DXVy       NaN  0.689410 -1.701766       NaN
uAJ6zQbutE -0.400600  0.379095  0.925603       NaN
OG4UG8oybC       NaN  0.300380 -0.468255 -1.926342
lHVbT75E92 -0.500792  0.487247  0.841482  2.116721
4pQ2DPuuGQ -0.288778 -0.207747  0.386282 -0.010986
1Iet2cntOA -0.075450  0.003697  0.330956  0.120268
VH0uJSPxDG  0.550314 -1.302697  2.172010 -1.079764
mPaY11JPHw -0.366225  1.291481 -1.350470 -1.406318
uNMrxcKQKG  0.586352  0.452222 -0.594380  0.580835
nHXb9i1oQ3  0.439350  0.850847 -1.762222 -1.111300
lXMZOFg82T -2.766823  0.529305  0.688780 -0.276775

In [29]:
pd.util.testing.makeMixedDataFrame()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [30]:
# Technique 2
from sklearn import datasets

In [32]:
values = datasets.load_diabetes()

In [33]:
type(values)

sklearn.utils._bunch.Bunch

In [35]:
type(values.data)

numpy.ndarray

In [36]:
values.feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [37]:
df = pd.DataFrame(data=values.data,
                  columns=values.feature_names)
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [38]:
# Technique 3
import numpy as np

In [44]:
values = np.random.rand(100, 10)

In [45]:
pd.DataFrame(values,
             columns=list('abcdefghij'))

,a,b,c,d,e,f,g,h,i,j
0,0.087646,0.472839,0.006049,0.488806,0.708830,0.066351,0.304821,0.466725,0.879044,0.270167
1,0.646942,0.817343,0.731922,0.278487,0.317508,0.546903,0.989929,0.875142,0.778918,0.960349
2,0.644629,0.891336,0.909006,0.022061,0.531723,0.647591,0.007781,0.992914,0.035077,0.493315
3,0.274056,0.385420,0.152813,0.683821,0.254489,0.649807,0.160005,0.826954,0.967639,0.364692
4,0.623628,0.298507,0.064857,0.418093,0.069036,0.035577,0.936384,0.278823,0.651842,0.313375
...,...,...,...,...,...,...,...,...,...,...
95,0.796713,0.320216,0.138787,0.107890,0.938579,0.984140,0.191117,0.781045,0.437295,0.093044
96,0.230348,0.303872,0.620809,0.170984,0.493180,0.298526,0.179004,0.736997,0.431703,0.449342
97,0.977407,0.641560,0.856115,0.388129,0.586184,0.757422,0.789367,0.605980,0.589256,0.443354
98,0.502893,0.093344,0.377991,0.827547,0.027645,0.494661,0.777290,0.687616,0.920098,0.116190
99,0.667999,0.116178,0.272349,0.517509,0.394529,0.973380,0.921248,0.104955,0.401925,0.635735