<a href="https://colab.research.google.com/github/rushdishams/learn-with-rushdi/blob/main/pandas/Pandas%20Interview%202%20-%20Convert%20Python%20Data%20Structres%20into%20Pandas%20Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Library
import pandas as pd

In [ ]:
# First list, contains hypothetical ids
idList = [10, 20, 30, 40, 50]

In [ ]:
# Dataframe from list
pd.DataFrame(idList)

    0
0  10
1  20
2  30
3  40
4  50

In [ ]:
# Dataframe from a list with column name
pd.DataFrame(idList, columns=['id'])

   id
0  10
1  20
2  30
3  40
4  50

In [ ]:
# Second list, containing hypothetical names of corresponding ids
nameList = ['A', 'B', 'C', 'D', 'E']

In [ ]:
# Sneak peek
idList, nameList

([10, 20, 30, 40, 50], ['A', 'B', 'C', 'D', 'E'])

In [ ]:
# We created a dataframe with one column from one list
# If we have two lists and want to create a dataframe with two
# columns from them, can we use the technique we just saw?
lists = [idList, nameList]
pd.DataFrame(lists, columns=['id', 'name'])

ValueError: ignored

In [ ]:
# One remedy is, if you have column values in lists, zip them up
zippedList = zip(idList, nameList)

In [ ]:
# And then use that zip object to create a dataframe
pd.DataFrame(zippedList, columns=['id', 'name'])

   id name
0  10    A
1  20    B
2  30    C
3  40    D
4  50    E

In [ ]:
# We can also create each row in our dataframe as lists and put these lists
# in another list
listOfLists = [
    [1, 'A'],
    [2, 'B'],
    [3, 'C']
]
pd.DataFrame(listOfLists, columns=['id', 'name'])

   id name
0   1    A
1   2    B
2   3    C

In [ ]:
# Tuple and list operates in a similar way
idTuple= (10,20,30,40,50)
pd.DataFrame(idTuple, columns=['id'])

   id
0  10
1  20
2  30
3  40
4  50

In [ ]:
# Same error as we got before
tuples = (
    (10,20,30,40,50), 
     ('A', 'B', 'C', 'D', 'E')
)
pd.DataFrame(tuples, columns=['id', 'name'])

ValueError: ignored

In [ ]:
# Zipping up tuples can be a solution
nameTuple = ('A', 'B', 'C', 'D', 'E')
zippedTuple = zip(idTuple, nameTuple)

In [ ]:
pd.DataFrame(zippedTuple, columns=['id', 'name'])

   id name
0  10    A
1  20    B
2  30    C
3  40    D
4  50    E

In [ ]:
# We also can create a tuple of values for each row and put them in a tuple
tupleOfTuples = (
    (10, 'A'), 
    (20, 'B'), 
    (30, 'C'),
    (40, 'E'),
    (50, 'E')
)
pd.DataFrame(tupleOfTuples, columns=['id', 'name'])

   id name
0  10    A
1  20    B
2  30    C
3  40    E
4  50    E

In [ ]:
# A dictionary can be created where the keys are the column names and values 
# are the row values of our dataframe in a list
myDict = {
    'id': idList,
    'name': nameList
}
pd.DataFrame(myDict)

   id name
0  10    A
1  20    B
2  30    C
3  40    D
4  50    E

In [ ]:
# We can as well create a dictionary for each row in a dataframe and keep
# them in a list...
listOfDicts = [
    {'id': 10, 'name': 'A'},
    {'id': 20, 'name': 'B'}
]

pd.DataFrame(listOfDicts)

   id name
0  10    A
1  20    B

In [ ]:
# ... or in a tuple
tupleOfDicts = (
    {'id': 10, 'name': 'A'},
    {'id': 20, 'name': 'B'}
)

pd.DataFrame(tupleOfDicts)

   id name
0  10    A
1  20    B